.homepage{
    margin-left:0;
}
h2{
    font-family: 'Thasadith', sans-serif;
    display: inline;
    margin-left: 5%;
}
h4{
    font-family: 'Thasadith', sans-serif;
    display: inline-block;
    width: 50%;
    margin-left: 5%;
}
p{
    font-family: 'Thasadith', sans-serif;
    display: inline;
    font-size: 0.7em;
}
img{
    height: 10px;
}
h3{
    display: inline;
    font-family: 'Thasadith', sans-serif;
}
h1{
    font-family: 'Thasadith', sans-serif;
}
.timeZone{
    margin-left:10%;
    margin-right: 10%;
    width:80%;
}
.time{
    margin-right:10%;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    width:15%;
    text-align: center; 
}

